<!doctype html>
<html lang="en">
<head>
    <title>KCCTech - Network Data Collection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="header">
        <img id = "kcctech_logo" src = "logos/kcctech_logo.png" alt = "KCCTECH LOGO">
    </div>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Network Data Collector</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-user-o"></span>
                        </div>

                        <h3 class="text-center mb-4">Login</h3>
                        <form action="" method="POST"class="login-form">
                            <div class="form-group">
                                <input type="number" class="form-control rounded-left" placeholder = "Runtime (in Minutes)" id="runtime" name="runtime" required/>
                              </div>
                            <div class="form-group d-flex">
                                <input type="number" class="form-control rounded-left" placeholder="Refresh Rate (in Seconds)" id="refresh" name="refresh" required/>
                            </div>
                            <div class="form-group d-flex">
                                <input type="url" class="form-control rounded-left" placeholder ="CPE IP Address" id="desiredURL" name="desiredURL" required/>
                            </div>
                            <div class="form-group d-flex">
                                <input type="name" class="form-control rounded-left" placeholder = "Filename" id="filename" name="filename" />
                            </div>
                            <div class="form-group d-flex">
                                <input type="username" class="form-control rounded-left" placeholder="Username" id="username" name="username">
                            </div>
                            <div class="form-group d-flex">
                                <input type="password" class="form-control rounded-left" placeholder="Password" id="password" name="password">
                            </div>
                            <br>
                            <div class="form-group d-flex">
                                <label for="typeOfData" id="typeOfData_label">Type of Data</label>
                                <select id="typeOfData" name="typeOfData" class="form-control rounded-left">
                                    <option value="CPE">CPE</option>
                                    <option value="BBU">BBU</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group d-flex">
                                <label for="wantEmailList" id="wantEmailList_label">Include Email List?</label>
                                <input type="checkbox" id="wantEmailList" name="wantEmailList">
                            </div>
                            <br>
                            <div class="form-group d-flex">
                                <label for="wantPDF" id="wantPDF_label">Send PDF in Email?</label>
                                <input type="checkbox" id="wantPDF" name="wantPDF">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Start</button>
                            </div>
                            <div class="form-group d-md-flex">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/jquery.min.js"></script>
    
</body>
</html>
