<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Network Data Collection</title>
    <style>
      h1 {text-align: center;}
      .button {text-align: center; margin:auto; display: inline;}
    </style>
  </head>
  <body>
    <h1>Network Data Collection</h1>
    <p>
        You have stopped the test. Please click New Test to start a new test.
    </p>
    <a href="/stop" target="_parent"><button type="submit" id="stop_button">Stop</button></a>
    
  </body>
</html>
